<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleDisplayName</key>
	<string>Hash</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>hash</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(FLUTTER_BUILD_NAME)</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>$(FLUTTER_BUILD_NUMBER)</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIMainStoryboardFile</key>
	<string>Main</string>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>CADisableMinimumFrameDurationOnPhone</key>
	<true/>
	<key>UIApplicationSupportsIndirectInputEvents</key>
	<true/>
	<key>NSCameraUsageDescription</key>
	<string>Hash a besoin d'accéder à la caméra pour scanner les QR codes de vos contacts</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>Hash a besoin d'accéder au microphone pour les appels audio</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>Hash a besoin d'accéder à vos photos pour envoyer des images</string>
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>Hash a besoin d'accéder à vos photos pour enregistrer des médias</string>
	<key>NSContactsUsageDescription</key>
	<string>Hash a besoin d'accéder à vos contacts pour partager des coordonnées</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>Hash a besoin de votre position pour l'envoyer dans une conversation</string>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>Hash a besoin de votre position pour l'envoyer dans une conversation</string>
	<key>NSMotionUsageDescription</key>
	<string>Hash utilise les capteurs de mouvement pour le verrouillage par secousse</string>
<key>UIBackgroundModes</key>
	<array>
		<string>voip</string>
		<string>audio</string>
		<string>fetch</string>
		<string>remote-notification</string>
	</array>
	<key>NSFaceIDUsageDescription</key>
	<string>Hash utilise Face ID ou Touch ID pour sécuriser l'accès à votre application</string>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	<key>CFBundleIcons</key>
	<dict>
		<key>CFBundlePrimaryIcon</key>
		<dict>
			<key>CFBundleIconFiles</key>
			<array>
				<string>AppIcon</string>
			</array>
			<key>UIPrerenderedIcon</key>
			<false/>
		</dict>
		<key>CFBundleAlternateIcons</key>
		<dict>
			<key>at</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>AppIcon-at</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>hbal</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>AppIcon-hbal</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>hbell</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>AppIcon-hbell</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>cloud</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>AppIcon-cloud</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>fog</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>AppIcon-fog</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>ghost</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>AppIcon-ghost</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>glass</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>AppIcon-glass</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>key</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>AppIcon-key</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>lock</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>AppIcon-lock</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>hmsg</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>AppIcon-hmsg</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>vash</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>AppIcon-vash</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>pyramid</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>AppIcon-pyramid</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>rocket</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>AppIcon-rocket</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>sun</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>AppIcon-sun</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
		</dict>
	</dict>
</dict>
</plist>
